blobfile==3.0.0
celery==5.2.7
Django==3.2.12
Django==3.2.15
lmdb==1.6.2
matplotlib==3.7.1
mpi4py==4.0.3
numpy==1.25.0
Pillow==9.4.0
Pillow==11.2.1
prettytable==3.16.0
python-decouple==3.8
scikit_learn==1.6.1
setuptools==75.8.0
tensorflow==2.19.0
torch==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.67.1
